.pictures{background:url('../images/pictures.png');background-size:16px 16px;background-repeat:no-repeat;}
.stamp{background:url('../images/1373616516531.png');background-size:16px 16px;background-repeat:no-repeat;}
.custom1373613721218{background:url('../images/1373616504718.gif');background-size:16px 16px;background-repeat:no-repeat;}
.custom1373613913828{background:url('../images/1373616526671.png');background-size:16px 16px;background-repeat:no-repeat;}
