.pictures{background:url('../images/pictures.png');background-size:16px 16px;background-repeat:no-repeat;}
.stamp{background:url('../images/1373866620859.png');background-size:16px 16px;background-repeat:no-repeat;}
.custom1373613721218{background:url('../images/1373855815437.png');background-size:16px 16px;background-repeat:no-repeat;}
.custom1373613913828{background:url('../images/1373854063828.png');background-size:16px 16px;background-repeat:no-repeat;}
.custom1373853556812{background:url('../images/1373854398156.png');background-size:16px 16px;background-repeat:no-repeat;}
.custom1373854493468{background:url('../images/1373854609843.png');background-size:16px 16px;background-repeat:no-repeat;}
.custom1373957343515{background:url('../images/1373957342109.png');background-size:16px 16px;background-repeat:no-repeat;}
.custom1374549327750{background:url('../images/1374549325984.gif');background-size:16px 16px;background-repeat:no-repeat;}
.custom1374549339937{background:url('../images/1374549338875.png');background-size:16px 16px;background-repeat:no-repeat;}
.custom1374549356625{background:url('../images/1374549355453.jpg');background-size:16px 16px;background-repeat:no-repeat;}
.custom1374549370140{background:url('../images/1374549369171.png');background-size:16px 16px;background-repeat:no-repeat;}
.custom1374549407437{background:url('../images/1374549406484.gif');background-size:16px 16px;background-repeat:no-repeat;}
.custom1374549421312{background:url('../images/1374549420437.png');background-size:16px 16px;background-repeat:no-repeat;}
.custom1374549457156{background:url('../images/1374549456234.png');background-size:16px 16px;background-repeat:no-repeat;}
.custom1374549505921{background:url('../images/1374549504859.png');background-size:16px 16px;background-repeat:no-repeat;}
.custom1374549533875{background:url('../images/1374549532875.png');background-size:16px 16px;background-repeat:no-repeat;}
.custom1374549572734{background:url('../images/1374549571687.png');background-size:16px 16px;background-repeat:no-repeat;}
.custom1374549579468{background:url('../images/');background-size:16px 16px;background-repeat:no-repeat;}
.custom1374549608828{background:url('../images/1374549607781.png');background-size:16px 16px;background-repeat:no-repeat;}
.custom1374549637312{background:url('../images/1374549636343.png');background-size:16px 16px;background-repeat:no-repeat;}
